@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Rubik+Doodle+Shadow&family=Ubuntu+Condensed&family=Ubuntu:wght@500&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi&family=Flamenco&family=Gupter&family=Kanit&family=Rubik+Vinyl&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Jost', sans-serif;
    /* background-image: url('/z_static/media/RegistrationMainBG.jpg'); */
    background: url('/z_static/media/RegistrationMainBG.jpg');
}


/* navigation begin */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 30px;
    backdrop-filter: blur(3px);
    background-color: rgba(181, 51, 138, 0.1);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.438), inset 5px 5px 5px 0 rgba(255, 255, 255, 0.3);
    position: relative;
    z-index: 1;
}

#nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-list>li {
    margin-right: 10px;
}

#nav-list>li {
    margin-right: 10px;
}

#nav-list>li:last-child {
    margin-right: 0;
}

#nav-list>li>a {
    display: inline-block;
    text-decoration: none;
    opacity: 1;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    font-family: 'Ubuntu', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.5s ease-in-out;
}

#nav-list>li>a:hover {
    transform: scale(1.2) translateY(-5px);
}

.apexlogo,
.councillogo {
    padding: 5px;
    height: 4rem;
}

/* navigation ends  */

/* spoorti begins */
.spoorti {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spoorti-img-box {
    border-radius: 20px;
    height: 80%;
    width: 50%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* spoorti ends  */
/* aboutus begins */
.aboutus {
    padding: 5% 10%;
    backdrop-filter: blur(10px);
    margin: 0;
}

.aboutus>h3 {
    text-align: center;
    font-weight: 900;
    font-size: 3em;
    font-family: 'Kanit', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

.aboutus>p {
    font-family: 'Flamenco';
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
}

/* aboutus ends  */
/* pricing begins  */
.price {
    display: flex;
    margin: 50px auto;
}

table {
    margin: auto;
    backdrop-filter: blur(10px);
    color: white;
    width: 95vw;
}

table>thead>tr>td {
    border: 1px solid white;
    text-align: center;
    font-family: 'Ubuntu', serif;
    color: white;
    font-size: 1.5em;
    font-weight: 900;
    
}

table>tbody>tr>td {
    border: 1px solid white;
    font-size: 1.3em;
    font-family: 'Anek Gurmukhi', sans-serif;
}

table>tbody>tr>td:nth-child(2) {
    text-align: center;
}

/* pricing ends  */
/* register begins */
.register {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
}

.card {
    height: 90%;
    border: 1px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    width: 90%;
    margin: 10px auto;
}

.card>h3 {
    text-align: center;
    font-family: 'Ubuntu';
    color: white;
}

.card>.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card>.btn>button {
    margin: 5px;
    background: none;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.438), inset 5px 5px 5px 0 rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-family: 'Flamenco';
}
.dropdownitem{
    color: white;
    text-decoration: none;
}
/* register ends  */
/* gallery begins */
.gallery {
    margin-top: 20px;
    text-align: center;
    height: 0;
    padding-bottom: 80%; /* 4:5 aspect ratio (5 / 4 * 100%) */
    overflow: hidden;
    backdrop-filter: blur(30px);
    border: 1px solid white;
}
.slide-container {
    max-width: 500px;
    height: 100%;
    position: relative;
    margin: auto;
}


.slide {
    display: none;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure the image completely covers the container */
}
.gallery > .slide-container > h3{
    color: white;
    font-family: 'Rubik Vinyl', system-ui;
    font-size: 3em;
}




/* footer begins */
#fbody {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 30px;
    padding: 10px;
}

footer {
    margin-top: 100px;
    position: relative;
    width: 100%;
    background: #b047ec;
    min-height: 100px;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-direction: wrap;
}

footer .social_icon li {
    list-style-type: none;
}

footer .social_icon li a {
    text-decoration: none;
    font-size: 2em;
    color: white;
    margin: 0 20px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-10px) scale(1.2);
}

.foot {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.contactus {
    width: 100%;
    height: auto;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

.contactus p {
    font-size: 1em;
    text-align: center;
    color: white;

}

.foot h1 {
    font-family: 'Rubik Doodle Shadow', sans-serif;
    font-size: 4em;
    color: white;
    margin: 0;
}

.developers {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.frontend {
    padding: 10px;
    margin: 10px;
    font-family: 'Inconsolata', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.frontend a {
    color: white;
    text-decoration: none;
}

.backend {
    padding: 10px;
    margin: 10px;
    font-family: 'Inconsolata', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.backend a {
    color: white;
    text-decoration: none;
}

.database {
    padding: 10px;
    margin: 10px;
    font-family: 'Inconsolata', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.database a {
    color: white;
    text-decoration: none;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('/z_static/media/RegistrationWave.png');
    background-size: 1000px 100px;
}

footer #wave1 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 30px;
    animation: animatewave1 2s linear infinite;
}

footer #wave2 {
    z-index: 999;
    opacity: 0.4;
    bottom: 5px;
    animation: animatewave1 3s linear infinite;
}

footer #wave3 {
    z-index: 998;
    opacity: 0.6;
    bottom: 10px;
    animation: animatewave2 4s linear infinite;
}

footer #wave4 {
    z-index: 997;
    opacity: 0.8;
    bottom: 15px;
    animation: animatewave2 5s linear infinite;
}

@keyframes animatewave1 {
    0% {
        background-position: 1000px 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes animatewave2 {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 1000px 0;
    }
}
/* footer ends  */



/* media query */

@media only screen and (max-width: 768px) {
    nav {
        align-items: center;
        flex-direction: row;
        padding: 0.1em;
    }
    .apexlogo, .councillogo{
        height: 20px;
    }
    #fbody{
        margin: 0;
    }
    #nav-list {
        flex-direction: row;
        align-items: center;
    }
    #nav-list > li > a{
        font-size: 0.6em;
        padding: 2px 2px;
    }
    .sbody{
        height: 500px;
    }
    #spoortiimg{
        width: 300px;
    }
    .price{
        flex-direction: column;
    }
    .card>h3{
        font-size: 25px;
    }
    .register{
        grid-template-columns: 1fr;
    }
    .spoorti-img-box{
        height: 25%;
        margin-bottom: 30px;
    }
    .gallery > .slide-container > h3{
        font-size: 25px;
    }


    footer{
        padding: 0;
    }
    footer .social_icon li a {
        font-size: 1em;
    }
    .contactus{
        width: auto;
    }
    .contactus p{
        font-size: 0.5em;
    }
    .foot h1{
        font-size: 2em;
    }
    .developers{
        flex-direction: column;
    }
}